:root {
  --clr-off-white: #F7E9E9;
  --clr-white: #FFFFFF;
  --clr-black: #111010;
  --clr-primary-100: #0C4047;
  --clr-primary-alt: #d2d3d3;
  --clr-primary-300: #535353;
  --clr-primary-500: #B50E17;
  --clr-primary-600: #551A8B;
}