:root {
  --clr-off-white: #F7E9E9;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-primary-100: #0C4047;
  --clr-primary-alt: #235240;
  --clr-primary-300: #535353;
  --clr-primary-500: #B50E17;
}