<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Agua</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/splash/login.css">
  </head>
  <body>
    <header class="main-header flex pad">
      <a href="/" class="logo-name-link">Agua</a>
      <nav class="main-header__nav">
        <ul class="main-header__item-list flex">
          <li class="main-header__item"><a href="/login" class="log-in">Login</a></li>
          <li class="main-header__item"><a href="/sginup" class="sgin-up">Sgin up</a></li>
          <li class="dark-mode"><i>
            <img src="/img/dark_mode.svg" alt="Dark Mode"></i></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/login" method="POST">
        <p>Login</p>
        <input type="text" name="Username or Email" required><br>
        <input type="text" name="Password" required><br>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>