<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agua | Projects Container</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/splash/splash.css">
  </head>
  <body>
    <header class="main-header flex pad">
      <a href="/" class="logo-name-link">Agua</a>
      <nav class="main-header__nav">
        <ul class="main-header__item-list flex">
          <li class="main-header__item"><a href="/login" class="log-in">Login</a></li>
          <li class="main-header__item"><a href="/sginup" class="sgin-up">Sgin up</a></li>
          <li class="dark-mode"><i>
            <img src="/img/dark_mode.svg" alt="Dark Mode"></i></li>
        </ul>
      </nav>
    </header>
    <main class="pad-alt">
      <section class="what-is">
        <div class="desc-agua flex">
          <div>
            <p class="sec-title">What is Agua?</p>
            <p class="details-sec">It's a platform, that helps individuals or teams manage and organize their tasks, assignments, or activities. It provides a centralized place to create, track, and prioritize tasks, ensuring that nothing important gets overlooked. To-do apps are commonly used for personal task management, project management, and collaboration purposes.</p>
          </div>
          <div class="img-details">
            <img class="desc-img" src="/img/agua_content.svg" alt="">
          </div>
        </div>
      </section>
      <section class="scheduling">
        <p class="sec-title center">Scheduling</p> 
        <div class="desc-agua flex">
          <div>
            <p class="details-sec">Scheduling, which are tasks that repeat at regular intervals. Users can set tasks to recur daily, weekly, monthly, or on custom schedules. This feature is helpful for tasks that need to be performed repeatedly, such as a project that you think how to do it or the project you finished it.</p>
          </div>
          <div class="img-details">
            <img class="desc-img" src="/img/schedual_app.svg" alt="">
          </div>
        </div> 
      </section>
      <section class="share">
        <p class="sec-title center">Sharing Knowledge</p> 
        <div class="desc-agua flex">
          <div>
            <p class="details-sec">Sharing Knowledge</p>
          </div>
          <div class="img-details">
            <img class="desc-img" src="/img/share_know.svg" alt="">
          </div>
        </div> 
      </section>
      <section class="varity">
        <p class="sec-title center">Variety</p>
        <div class="desc-agua flex">
          <div>
            <p class="details-sec">Variety</p>
          </div>
          <div class="img-details">
            <img class="desc-img" src="/img/variety_app.svg" alt="">
          </div>
        </div>
      </section>
      <section class="deloy-upload">
        <p class="sec-title center">Deploying & Uploading</p>
        <div class="desc-agua flex">
          <div>
            <p class="details-sec">DeployingUploading</p>
            <p class="details-sec">Uploading</p>
          </div>
          <div class="img-details">
            <img class="desc-img" src="/img/deploy_app.svg" alt="">
          </div>
        </div>
        <div class="img-deploy center">
          <img class="img-git" src="/img/code.png" alt="Git">
          <img class="img-heroku" src="/img/heroku-logotype-vertical-purple.png" alt="Heroku">
        </div>
      </section>
    </main>
    <footer class="center">
      <ul>
        <li class="svg-icon">
          <a href="#"><img src="/img/website_portal.svg" alt="My Site"></a>
          <a href="https://github.com/mohamed96321?tab=repositories"><img src="/img/github.svg" alt="Github"></a>
          <a href="https://linkedin.com/in/mohamed-atef-3a0780194/"><img src="/img/linkedin.svg" alt="Linkedin"></a>
        </li>
      </ul>
      <p class="footer__copy">&#169; 2023 Created by MA Company. All copyright reserved.</p>
    </footer>
  </body>
</html>